<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="shortcut icon" href="./img/banco.png" type="image/x-icon">
    <title>Home Banking | Transactions</title>
</head>
<body class="font" id="app">
    <header>
        <img src="./img/bankfont.png">
        <h1>MINDHUB BROTHERS</h1>
        <nav><a href="./accounts.html?id=1">Come back</a></nav>
        
        
    </header>
    <main class="d-flex align-items-center justify-content-center flex-column gap-4" >
        <div>
            <h2 class="text-center">Your Transactions in your account {{account.number}}</h2>
        </div>
        <table class="w-50 table table-hover table-info table-striped" >
            <thead class="text-center">
                <tr>
                    <th>AMOUNT</th>
                    <th>DESCRIPTION</th>
                    <th>DAY</th>
                    <th>HOUR</th>
                    <th>TYPE</th>
                </tr>
                </thead>
                <tbody class="text-center" v-for="dato of account2">
                    <tr>
                        <td v-if="dato.type=='CREDIT'" class="table-success">+{{formatCurrency(dato.amount)}} </td>
                        <td v-if="dato.type=='DEBIT'" class="table-danger">{{formatCurrency("-"+dato.amount)}} </td>
                        <td>{{dato.description}}</td>
                        <td>{{dato.date.slice(0,10)}}</td>
                        <td>{{dato.date.slice(11,16)}}</td>
                        <td>{{dato.type}}</td>
                    </tr>
                </tbody>
        </table>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./js/account.js"></script>
    <tipo de secuencia de comandos  = "módulo" src = "https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js" ></secuencia de comandos > 
    <secuencia de comandos  nomodule  src = "https://unpkg .com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script >
</body>
</html>