<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="shortcut icon" href="./img/logoBlack.png" type="image/x-icon">
    <title>| Transactions</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script defer type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script defer nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body class="font">
    <div id="app">
        <header>
            <div> <span class="material-symbols-outlined">
                    savings
                </span>
                <h1>Hopened Bank</h1>
            </div>
            <nav>
                <a href="./accounts.html">ACCOUNTS</a>
                <a href="./cards.html">CARDS</a>
                <a href="./transfers.html">TRANSFERS</a>
            </nav>
            <div>
                <h5>{{Client.firstName}} {{Client.lastName}}</h5>
                <img src="./img/person-circle.svg" alt="">
                <a href="" @click="exit"><ion-icon name="exit-outline" class="salir"></ion-icon></a>
            </div>
        </header>
        <main class="d-flex align-items-center justify-content-center flex-column gap-4">
            <div>
                <h2 class="text-center">Transactions in your account {{account.number}}</h2>
            </div>
            <table class="table">
                <thead class="text-center">
                    <tr>
                        <th>DESCRIPTION</th>
                        <th>DAY</th>
                        <th>HOUR</th>
                        <th>TYPE</th>
                        <th>AMOUNT</th>
                        <th>BALANCE</th>
                    </tr>
                </thead>
                <tbody class="text-center" v-for="dato of account2">
                    <tr>
                        <td>{{dato.description}}</td>
                        <td>{{dato.date.slice(0,10)}}</td>
                        <td>{{dato.date.slice(11,16)}}</td>
                        <td>{{dato.type}}</td>
                        <td v-if="dato.type=='CREDIT'" class="table-success">+{{formatCurrency(dato.amount)}} </td>
                        <td v-if="dato.type=='DEBIT'" class="table-danger">{{formatCurrency("-"+dato.amount)}} </td>
                        <td>{{formatCurrency(dato.balance)}}</td>
                    </tr>
                </tbody>
               
            </table>

            <button data-bs-target="#PDF" data-bs-toggle="modal">Download PDF</button>
            <!-- //Ingreso info para el PDF// -->
            <div class="modal" id="PDF" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">ACCOUNT STATUS</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div>
                                    <label>
                                        Start date:
                                        <input class="form-control" type="date" v-model="dateStart" min="2023-04-01"
                                            max="2023-12-31">
                                    </label>
                                </div>
                                <div>
                                    <label>
                                        End date:
                                        <input class="form-control" type="date" v-model="dateEnd" min="2023-04-01"
                                            max="2023-12-31">
                                    </label>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" @click="download(accNumber,dateStart,dateEnd)">Download</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./js/account.js"></script>
    <tipo de secuencia de comandos="módulo" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js">
        </secuencia de comandos>
        <secuencia de comandos nomodule src="https://unpkg .com/ionicons@7.1.0/dist/ionicons/ionicons.js">
            </script>
</body>

</html>