* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  padding: 1rem;
  gap: 1rem;
  height: 15vh;
  align-items: center;
  justify-content: space-evenly;
  font-family: 'Josefin Sans', sans-serif;
}

header div {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.contenedor {
  flex-wrap: wrap;
  gap: 3rem;
  margin-bottom: 2rem;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 1,
    'GRAD' 0,
    'opsz' 48;
  color: white;
  font-size: 50px !important;
  text-shadow: 2px 2px 4px black;
}

main {
  min-height: 85vh;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 1rem;
  padding: 0.5rem;
  border: 2px solid white;
  border-radius: 15px;
  font-family: 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}

nav a:hover {
  background-color: white;
  color: black;
  border: 2px solid white;
  box-shadow: 4px 2px 2px black;
}

header img {
  width: 50px;
  height: 50px;
}

.font {
  background-image: url(../img/B1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  text-shadow: 2px 2px 4px black;
  color: white !important;
  margin-bottom: 0px !important;
}

h2 {
  text-shadow: 4px 4px 5px white;
  font-weight: bolder !important;
  font-family: 'Anton', sans-serif;
}

.GOLD {
  background-image: linear-gradient(to right, #b0994c, #b39328);
}

.SILVER {
  background-image: linear-gradient(to right, #8e8e8e, #b7b7b7);
}

.TITANIUM {
  background-image: linear-gradient(to right, #525252, #606060);
}

.inspiration {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-family: 'Gill Sans', sans-serif;
  font-size: 12px;
  color: #fff;
}

.left {
  position: absolute;
  left: 0;
  width: 60vw;
  height: 100vh;
  background-image: linear-gradient(to right, #202020, #808080);
}

.right {
  position: absolute;
  right: 0;
  width: 60vw;
  height: 100vh;
  overflow: hidden;
}

.right .strip-top {
  width: calc(50vw + 90px);
  transform: skewX(20deg) translateX(160px);
}

.right .strip-bottom {
  width: calc(50vw + 40px);
  transform: skewX(-15deg) translateX(90px);
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  width: 400px;
  height: 250px;
  background-color: transparent;
}

.flip {
  width: inherit;
  height: inherit;
  transition: 0.7s;
  transform-style: preserve-3d;
  -webkit-animation: flip 2.5s ease;
  animation: flip 2.5s ease;
}

.front,
.back {
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: 15px;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.3);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
}

.front {
  transform: translateZ(0);
}

.strip-bottom,
.strip-top {
  position: absolute;
  right: 0;
  height: inherit;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.5);
}

.strip-bottom {
  width: 200px;
  transform: skewX(-15deg) translateX(50px);
}

.strip-top {
  width: 180px;
  transform: skewX(20deg) translateX(50px);
}

.logo {
  position: absolute;
  top: 30px;
  right: 25px;
}

.investor {
  position: relative;
  top: 30px;
  left: 25px;
  text-transform: uppercase;
}

.chip {
  position: relative;
  top: 60px;
  left: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 40px;
  border-radius: 5px;
  background-image: linear-gradient(to bottom left, #ffecc7, #d0b978);
  overflow: hidden;
}

.chip .chip-line {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #333;
}

.chip .chip-line:nth-child(1) {
  top: 13px;
}

.chip .chip-line:nth-child(2) {
  top: 20px;
}

.chip .chip-line:nth-child(3) {
  top: 28px;
}

.chip .chip-line:nth-child(4) {
  left: 25px;
  width: 1px;
  height: 50px;
}

.chip .chip-main {
  width: 20px;
  height: 25px;
  border: 1px solid #333;
  border-radius: 3px;
  background-image: linear-gradient(to bottom left, #efdbab, #e1cb94);
  z-index: 1;
}

.wave {
  position: relative;
  top: 20px;
  left: 100px;
}

.card-number {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 25px 10px;
  font-size: 23px;
  font-family: 'cc font', monospace;
}

.end {
  margin-left: 25px;
  text-transform: uppercase;
  font-family: 'cc font', monospace;
}

.end .end-text {
  font-size: 9px;
  color: rgba(255, 255, 255, 0.8);
}

.card-holder {
  margin: 10px 25px;
  text-transform: uppercase;
  font-family: 'cc font', monospace;
}

.master {
  position: absolute;
  right: 20px;
  bottom: 20px;
  display: flex;
}

.master .circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.master .master-red {
  background-color: #eb001b;
}

.master .master-yellow {
  margin-left: -10px;
  background-color: rgba(255, 209, 0, 0.7);
}

.card {
  perspective: 1000;
  border: none;
}

.card:hover .flip {
  transform: rotateY(180deg);
}

.back {
  transform: rotateY(180deg) translateZ(0);
  background: #9e9e9e;
}

.back .strip-black {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  height: 50px;
  background: #000;
}

.back .ccv {
  position: absolute;
  top: 110px;
  left: 0;
  right: 0;
  height: 36px;
  width: 90%;
  padding: 10px;
  margin: 0 auto;
  border-radius: 5px;
  text-align: right;
  letter-spacing: 1px;
  color: #000;
  background: #fff;
}

.back .ccv label {
  display: block;
  margin: -30px 0 15px;
  font-size: 10px;
  text-transform: uppercase;
  color: #fff;
}

.back .terms {
  position: absolute;
  top: 150px;
  padding: 20px;
  font-size: 10px;
  text-align: justify;
}

@-webkit-keyframes flip {

  0%,
  100% {
    transform: rotateY(0deg);
  }

  50% {
    transform: rotateY(180deg);
  }
}

@keyframes flip {

  0%,
  100% {
    transform: rotateY(0deg);
  }

  50% {
    transform: rotateY(180deg);
  }
}